<!DOCTYPE html>
<html>
<head>
    <title>Courses</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="dashboard-hero">
    <h1>Registered Courses</h1>
    <a href="/dashboard" class="logout-btn">Back to Dashboard</a>
</div>

<div class="course-grid">
    {% for course in courses %}
    <div class="course-card-3d">
        <div class="course-inner">
            <h3>{{ course.code }}</h3>
            <p>{{ course.title }}</p>

            <!-- START EXAM BUTTON -->
            <a href="/exam/{{ course.code }}">
                <button>Start Exam</button>
            </a>

        </div>
    </div>
    {% endfor %}
</div>

</body>
</html>